$content-section-background: #00DDDD;
$content-section-lighter: #00DDDD;

* {
	margin: 0;
	padding: 0;
}

input {
	font-size: 16px;
}

body {

	.app-content {
		display: grid;
		grid-template-columns: 1fr;
	}

	header {
		font-size: 2em;
		text-align: center;
	}

	.home-nav {
		display: grid;
		grid-template-columns: 1fr;
		text-align: center;

		.nav-link-container {
			display: inline-block;
			margin-top: 10px;
			padding: 5px;
			background-color: #009999;
			border: 4px solid #004444;
			border-radius: 10px;
		}
	}

	.nav-link {
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
		&:link {
			color: #000000
		}
		&:visited {
			color: #000000
		}
		&:hover {
			color: #000000
		}
		&:active {
			color: #000000
		}
	}

	#MyContentContainer {
		display: flex;

		.playlistSet {
			width: 100%;
		}
	}

	.content-section {
		margin-bottom: 10px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;

		& h3 {
			text-align: center;
			margin-bottom: 5px;
		}
	}

	.upcoming-tracks {
		li {
			margin-bottom: 10px;
		}
	}

	.track-name {
		font-weight: bold;
		font-size: 1em;
	}

	.artist-name {
		font-weight: italic;
		font-size: .75em;
	}

	// ul {
	// 	&.playlist-list {
	// 		list-style-type: none;
			
	// 		li.playlist-container {
	// 			min-height: 44px;
	// 			list-style-position: outside;
	// 		}

	// 		li.playlist-container:nth-child(even) {
	// 			background: #eee;
	// 		}

	// 		li.playlist-container:nth-child(odd) {
	// 			background: #ccc;
	// 		}
	// 	}
	// }
}