$content-section-background: #00DDDD;
$content-section-lighter: #00DDDD;

@keyframes rotating
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(360deg);
	}
}

* {
	margin: 0;
	padding: 0;
}

input {
	font-size: 16px;
}




body {

	.app-content {
		display: grid;
		grid-template-columns: 1fr;
	}

	header {
		font-size: 2em;
		text-align: center;
	}

	.nav-button-container,
	.nav-link-container {
		display: inline-block;
		margin-top: 10px;
		padding: 5px;
		background-color: #009999;
		border: 4px solid #004444;
		border-radius: 10px;
	}
	

	.nav-button,
	.nav-link {
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
		&:link {
			color: #000000
		}
		&:visited {
			color: #000000
		}
		&:hover {
			color: #000000
		}
		&:active {
			color: #000000
		}
	}

	#MyContentContainer {
		display: flex;

		.playlistSet {
			width: 100%;
		}
	}

	.content-section {
		margin-bottom: 10px;
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		padding: 10px 0;

		& h3 {
			text-align: center;
			margin-bottom: 5px;
		}
	}

	.upcoming-tracks {
		li {
			margin-bottom: 10px;
		}
	}

	.track-name {
		font-weight: bold;
		font-size: 1em;
	}

	.artist-name {
		font-weight: italic;
		font-size: .75em;
	}

	.search-form {
		text-align: center;
		padding-bottom: 10px;

		.search-input {
			width: 90%;
			border: 2px solid black;
			height: 40px;
			font-size: 16px;
		}
		.search-button {
			width: 1.33em;
			margin-left: -1.75em;
			font-size: 16px;
		}
	}

	.expandable-section {
		.expandable-title {
			display: inline;
			padding-left: 10px;
			width: 90%;
		}
		.expand-button {
			display: inline;
			position: absolute;
			width: 10%;
			font-size: 1.33em;
			right: 0px;	
		}
		.expandable-content {
			margin-top: 10px;
		}
	}
	.expand-button {
		
	}


	button {
		background: none;
		border: 0;
	}

	i.fa-spinner {
		animation: 1s infinite normal rotating;
	}

	.search-result-list {
		.track-list-item {
			
			&::after { 
			  content: "";
			  display: block; 
			  clear: both;
			}

			.track-container {
				
				float: left;
			}
			i {
				
				float: right;
			}
		}
	}

	// ul {
	// 	&.playlist-list {
	// 		list-style-type: none;
			
	// 		li.playlist-container {
	// 			min-height: 44px;
	// 			list-style-position: outside;
	// 		}

	// 		li.playlist-container:nth-child(even) {
	// 			background: #eee;
	// 		}

	// 		li.playlist-container:nth-child(odd) {
	// 			background: #ccc;
	// 		}
	// 	}
	// }
}